{% extends "base_generic.html" %} 
{% block content %}

<style>
  .input-container {
    display: flex;
    align-items: center;
  }

  .eye-icon {
    cursor: pointer;
    padding: 8px;
    background-color: #ccc;
    background:white;
  }

  /* Added CSS for positioning the button */
  .forgot-password-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .sign-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
</style>

{%if user.language_pref_fr %}

<div class="container-lg content-container classic-text">
  <h1>Merci de vous connecter à votre compte:</h1>
  <div class="content-container" style="width:calc(70%); position: relative;display: flex;flex-direction: column; align-items: center;">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
        <div class="coolinput">
          <label for="email" style="margin-right: calc(75%);" class="text">Email:</label>
          <input type="email" style="width:calc(80%); margin-right:calc(20%);" class="input" id="email" name="email" placeholder="truc@exemple.com" size="30" min="10" max="100" value="{{email}}" style="width: calc(100%);" required />
        </div>
        <div class="coolinput">
          <label for="password" style="margin-right: calc(65%);" class="text">Mot de passe:</label>
          <input type="password" style="width:calc(80%);" class="input" id="password" name="password" placeholder="Longueur entre 5 et 20" minlength="5" maxlength="20" value="{{password}}" required/>
          {% load static %}
          <img id="eye" class="eye-icon" onclick="togglePasswordVisibility()" src="{% static 'images/invisible.png'%}" width=40 height=40/>
        </div>
      <br>
      <button class="btn pretty-button" type="submit"> Connexion </button>
    </form>
  </br>
</br>
    <a class="btn pretty-button forgot-password-btn" href="{% url 'reset' %}">Mot de passe oublié/changer</a>
    <a class="btn pretty-button sign-btn" href="{% url 'sign in' %}"> S'inscrire </a>
  </div>
</div>

{% else %}

<div class="container-lg content-container classic-text">
  <h1>Please log in to your account:</h1>
  <div class="content-container" style="width:calc(70%); position: relative;display: flex;flex-direction: column; align-items: center;">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
        <div class="coolinput">
          <label for="email" style="margin-right: calc(75%);" class="text">Email:</label>
          <input type="email" style="width:calc(80%); margin-right:calc(20%);" class="input" id="email" name="email" placeholder="something@example.com" size="30" min="10" max="100" value="{{email}}" style="width: calc(100%);" required />
        </div>
        <div class="coolinput">
          <label for="password" style="margin-right: calc(65%);" class="text">Password:</label>
          <input type="password" style="width:calc(80%);" class="input" id="password" name="password" placeholder="Length between 5 and 20" minlength="5" maxlength="20" value="{{password}}" required/>
          {% load static %}
          <img id="eye" class="eye-icon" onclick="togglePasswordVisibility()" src="{% static 'images/invisible.png'%}" width=40 height=40/>
        </div>
      <br>
      <button class="btn pretty-button" type="submit"> Log in </button>
    </form>
  </br>
</br>
    <a class="btn pretty-button forgot-password-btn" href="{% url 'reset' %}">Forgot/Change password</a>
    <a class="btn pretty-button sign-btn" href="{% url 'sign in' %}"> Sign up </a>
  </div>
</div>

{%endif%}

<script>
function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    var eyeIcon = document.getElementById("eye");

    if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.src = "../static/images/visible.png";
    } else {
        passwordInput.type = "password";
        eyeIcon.src = "../static/images/invisible.png"
    }
}
</script>

{% endblock %}
